appdirs==1.4.3
arrow==0.15.5
asgiref==3.2.5
asn1crypto==0.24.0
attrs==19.1.0
Automat==0.6.0
autopep8==1.5
binaryornot==0.4.4
blinker==1.4
cachetools==4.1.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cloud-init==19.4
colorama==0.4.1
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cookiecutter==1.7.0
cryptography==2.3
cycler==0.10.0
defusedxml==0.6.0
distlib==0.3.0
distro-info===0.18ubuntu0.18.04.1
dj-rest-auth==1.0.6
Django==3.0.6
django-allauth==0.42.0
django-cities==0.6
django-cors-headers==3.3.0
django-environ==0.4.5
django-model-utils==4.0.0
django-versatileimagefield==2.0
djangorestframework==3.11.0
drive-cli==2.1.0
ecdsa==0.15
entrypoints==0.3
environ==1.0
filelock==3.0.12
flake8==3.7.9
Flask==0.10.1
fonttools==4.0.1
fs==2.4.11
future==0.18.2
google-api-core==1.16.0
google-api-python-client==1.7.8
google-auth==1.13.1
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
googleapis-common-protos==1.51.0
httplib2==0.12.1
hyperlink==17.3.1
idna==2.8
importlib-metadata==1.5.0
importlib-resources==1.3.1
incremental==16.10.1
itsdangerous==1.1.0
Jinja2==2.11.1
jinja2-time==0.2.0
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.2.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lxml==4.4.1
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
netifaces==0.10.4
ntplib==0.3.3
numpy==1.18.3
oauth==1.0.1
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.45.1
PAM==0.4.2
paramiko==1.13.0
pathlib==1.0.1
pick==0.6.4
Pillow==5.1.0
pipenv==2018.11.26
poyo==0.5.0
prettytable==0.7.2
protobuf==3.11.3
psycopg2==2.7.4
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.5.0
pycrypto==2.6.1
pyfiglet==0.8.post1
pyflakes==2.1.1
pygobject==3.26.1
PyJWT==1.5.3
pyOpenSSL==17.5.0
pyparsing==2.4.2
pyserial==3.4
python-apt==1.6.5+ubuntu0.2
python-dateutil==2.8.1
python-debian==0.1.32
python-magic==0.4.18
python3-openid==3.1.0
pytz==2019.2
pyxdg==0.25
PyYAML==3.12
requests==2.21.0
requests-oauthlib==1.3.0
requests-unixsocket==0.1.5
rsa==4.0
SecretStorage==2.3.1
service-identity==16.0.0
simplejson==3.13.2
six==1.12.0
sqlparse==0.3.1
ssh-import-id==5.7
swapper==1.1.2.post1
systemd-python==234
termcolor==1.1.0
tqdm==4.43.0
Twisted==17.9.0
ufoLib2==0.4.0
ufw==0.36
unattended-upgrades==0.1
unicodedata2==12.0.0
uritemplate==3.0.1
urllib3==1.24.3
virtualenv==20.0.10
virtualenv-clone==0.5.4
wadllib==1.3.2
Werkzeug==1.0.1
whichcraft==0.6.1
zipp==3.1.0
zope.interface==4.3.2
